body {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

#black{
  background-color: black;
  height: 600px;
  padding: 0px;
  padding-top: 20px;
  color: white;
  text-align: center;
}

li {
  list-style-type: none;
  display: inline-block;
}

.form-control {
  width: 25%;
  margin-left: 37.5%
}
.jumbotron {
  margin-bottom: 0px;
  text-align: center;
  background-color: black;
}

div.output {

  background: white;
  height: 80px;
  width: 80px;
  position: relative;;
  font-size: 16px;
  padding-top: 35px;
  margin-top: 250px;
  float: left;
}

#text {
  display: block;
}

.output {
  background-color: black;
}

#pad {
  height: 500px;
}
